<!DOCTYPE html>

<head>
    <meta charset="utf-8"> {% load static %} {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> {% load static %}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}" /> {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>SupplyChains Graphbuilder</title>
</head>

<body>
    <div id="buttonPanel">
        <div id="addResWrap">
            <input id="addResInput" type="text" placeholder="Resource name">
            <button type="button" id="addResButton" class="btn">Add new resource</button>
        </div>
        <div id="deleteResWrap">
            <select id="deleteResSelect" class="resSelect">
                <option id="deleteResOptionNone" class="deleteResOption">Choose resource</option>
            </select>
            <button type="button" id="deleteResButton" class="btn">Delete resource</button>
        </div>
        <div id="renameResWrap">
            <select id="renameResSelect" class="resSelect">
                <option id="renameResOptionNone" class="renameResOption">Choose resource</option>
            </select>
            <input id="renameResInput" type="text" placeholder="Rename to">
            <button type="button" id="renameResButton" class="btn">Rename resource</button>
        </div>
        <div id="addNodeButtonWrap">
            <button type="button" id="addNodeButton" class="btn">New node</button>
        </div>
        <div id="addLinkButtonWrap">
            <button type="button" id="addLinkButton" class="btn">New link</button>
        </div>
        <div id="saveGraphWrap">
            <button type="button" id="saveGraphButton" class="btn">Save graph</button>
        </div>
        <div id="optimizeGraphWrap">
            <button type="button" id="optimizeGraphButton" class="btn">Optimize graph</button>
        </div>
        <div id="estimateGraphWrap">
            <button type="button" id="estimateGraphButton" class="btn">Estimate graph</button>
        </div>
    </div>
    <div id="estimationWrap">
        <button type="button" id="estimationCloseButton" class="btn">X</button>
        <p>Estimation:</p>
        <ul id="estimationOuterList"></ul>
        <div id="estimationOptimalsLabel"></div>
        <ul id="estimationOptimalsList"></ul>
    </div>
    <div id="contextMenu">
        <button type="button" id="contextMenuButtonChange" class="btn">Change</button>
        <button type="button" id="contextMenuButtonDelete" class="btn">Delete</button>
    </div>
    <div id="changeNodeWindowWrap">
        <div id="changeNodeWindow">
            <div id="changeNodeNewResEatsText">Resources to eat</div><button type="button" id="changeNodeNewResEats" class="btn">+</button>
            <ul id="changeNodeResEats">
                <li>
                    <input type="text" placeholder="Resource quantity">
                    <select class="resSelect">
                        <option>Choose resource</option>
                    </select>
                    <button type="button" class="btn">X</button>
                </li>
            </ul>
            <div id="changeNodeNewResGivesText">Resources to give</div><button type="button" id="changeNodeNewResGives" class="btn">+</button>
            <ul id="changeNodeResGives">
                <li>
                    <input type="text" placeholder="Resource quantity">
                    <select class="resSelect">
                        <option>Choose resource</option>
                    </select>
                    <button type="button" class="btn">X</button>
                </li>
            </ul>
            <button id="changeNodeWindowButton" class="btn">Change node</button>
        </div>
    </div>
    <div id="addNodeWindowWrap">
        <div id="addNodeWindow">
            <div>Resources to eat</div><button type="button" id="addNodeNewResEats" class="btn">+</button>
            <ul id="addNodeResEats">
                <li>
                    <input type="text" placeholder="Resource quantity">
                    <select class="resSelect">
                        <option>Choose resource</option>
                    </select>
                    <button type="button" class="btn">X</button>
                </li>
            </ul>
            <div>Resources to give</div><button type="button" id="addNodeNewResGives" class="btn">+</button>
            <ul id="addNodeResGives">
                <li>
                    <input type="text" placeholder="Resource quantity">
                    <select class="resSelect">
                        <option>Choose resource</option>
                    </select>
                    <button type="button" class="btn">X</button>
                </li>
            </ul>
            <button id="addNodeWindowButton" class="btn">Add node</button>
        </div>
    </div>
    <div id="addLinkWindowWrap">
        <div id="addLinkWindow">

            <div>Source of link<input type="text" id="addLinkSourceInput"></div>
            <div>Target of link<input type="text" id="addLinkTargetInput"></div>

            <div>Resources to transfer<button type="button" id="addLinkNewRes" class="btn">+</button></div>
            <ul id="addLinkRes">
                <li>
                    <input type="text" placeholder="Resource quantity">
                    <select class="resSelect">
                        <option>Choose resource</option>
                    </select>
                    <button type="button" class="btn">X</button>
                </li>
            </ul>
            <button id="addLinkWindowButton" class="btn">Add link</button>
        </div>
    </div>
    <svg id="graph">
        <defs>
            <!-- A marker to be used as an arrowhead -->
            <marker id="arrow" viewBox="0 0 10 10" refX="10" refY="5" markerWidth="6" markerHeight="6"
                orient="auto-start-reverse">
                <path fill="#9ecae1" d="M 0 0 L 10 5 L 0 10 z" />
            </marker>
        </defs>
    </svg> {% load static %}
    <script src="{% static 'js/d3.v4.min.js' %}"></script>
    {% comment %} {% load static %} {% endcomment %} {% comment %}
    <script src="{% static 'js/axios.min.js' %}"></script> {% endcomment %} {% load static %}
    <script src="{% static 'js/script.js' %}"></script>
</body>