<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    {% comment %} {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    {% load static %}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script> {% endcomment %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>

<body>
    <div id="addResWrap">
        <input id="addResInput" type="text" placeholder="Resource name">
        <button type="button" id="addResButton">Add new resource</button>
    </div>
    <div id="deleteResWrap">
        <select id="deleteResSelect" class="resSelect">
            <option id="deleteResOptionNone" class="deleteResOption">-none-</option>
        </select>
        <button type="button" id="deleteResButton">Delete resource</button>
    </div>
    <div id="renameResWrap">
        <select id="renameResSelect" class="resSelect">
            <option id="renameResOptionNone" class="renameResOption">-none-</option>
        </select>
        <input id="renameResInput" type="text" placeholder="Rename to">
        <button type="button" id="renameResButton">Rename resource</button>
    </div>
    <div id="addNodeButtonWrap">
        <button type="button" id="addNodeButton">New node</button>
    </div>
    <div id="saveGraphWrap">
        <button type="button" id="saveGraphButton">Save graph</button>
    </div>
    <div id="optimizeGraphWrap">
        <button type="button" id="optimizeGraphButton">Optimize graph</button>
    </div>
    <div id="contextMenu">
        <button type="button" id="contextMenuButtonChange">Change</button>
        <button type="button" id="contextMenuButtonDelete">Delete</button>
    </div>
    <div id="changeNodeWindowWrap">
        <div id="changeNodeWindow">
            <div id="changeNodeNewResEatsText">Resources to eat</div><button type="button" id="changeNodeNewResEats">+</button>
            <ul id="changeNodeResEats">
                <li>
                    <input type="text" placeholder="Resource quantity">
                    <select class="resSelect">
                        <option>-none-</option>
                    </select>
                    <button type="button">X</button>
                </li>
            </ul>
            <div id="changeNodeNewResGivesText">Resources to give</div><button type="button" id="changeNodeNewResGives">+</button>
            <ul id="changeNodeResGives">
                <li>
                    <input type="text" placeholder="Resource quantity">
                    <select class="resSelect">
                        <option>-none-</option>
                    </select>
                    <button type="button">X</button>
                </li>
            </ul>
            <button id="changeNodeWindowButton">Change node</button>
        </div>
    </div>
    <div id="addNodeWindowWrap">
        <div id="addNodeWindow">
            <div>Resources to eat</div><button type="button" id="addNodeNewResEats">+</button>
            <ul id="addNodeResEats">
                <li>
                    <input type="text" placeholder="Resource quantity">
                    <select class="resSelect">
                        <option>-none-</option>
                    </select>
                    <button type="button">X</button>
                </li>
            </ul>
            <div>Resources to give</div><button type="button" id="addNodeNewResGives">+</button>
            <ul id="addNodeResGives">
                <li>
                    <input type="text" placeholder="Resource quantity">
                    <select class="resSelect">
                        <option>-none-</option>
                    </select>
                    <button type="button">X</button>
                </li>
            </ul>
            <button id="addNodeWindowButton">Add node</button>
        </div>
    </div>
    <svg id="graph">
        <defs>
            <!-- A marker to be used as an arrowhead -->
            <marker id="arrow" viewBox="0 0 10 10" refX="10" refY="5" markerWidth="6" markerHeight="6"
                orient="auto-start-reverse">
                <path fill="#9ecae1" d="M 0 0 L 10 5 L 0 10 z" />
            </marker>
        </defs>
    </svg>
    {% load static %}
    <script src="{% static 'js/d3.v4.min.js' %}"></script>
    {% comment %} {% load static %} {% endcomment %} {% comment %}
    <script src="{% static 'js/axios.min.js' %}"></script> {% endcomment %}
    {% load static %}
    <script src="{% static 'js/script.js' %}"></script>
</body>