circle.node {
    stroke: #2870c2;
    fill: #78afee;
}

.node {
    cursor: pointer;
}

line.link {
    fill: none;
    stroke: #4C8EDA;
    stroke-width: 3px;
    marker-end: url(#arrow);
    cursor: pointer;
}

line.optimized {
    marker-end: url(#arrowOptimized);
    stroke: #d6d629;
}

line.new {
    marker-end: url(#arrowNew);
    stroke: purple;
}

.entryExitDiv {
    text-align: center;
    border: 1px #3182bd solid;
    min-width: 20%;
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
    height: calc(100% - 4px);
}

.entryDiv {
    border: 2px #569480 solid;
}

.exitDiv {
    border: 2px #F16667 solid;
}

ul {
    margin: 0 auto;
}

ul.entryExitPoint {
    list-style-type: none;
    padding: 0;
    overflow: auto;
    height: 100%;
}

svg {
    overflow: visible;
}

div.modal {
    display: none;
}

div.modal:hover {
    display: block !important;
}

#addNodeWindowWrap {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgb(42 79 79 / 66%);
}

#addNodeWindow {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

#addNodeWindow div {
    display: inline;
    margin-right: 10px;
}

#contextMenu {
    display: none;
    position: fixed;
    padding: 10px;
    border-radius: 10px;
    background-color: #b7e1ff;
}

#changeNodeWindowWrap {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgb(42 79 79 / 66%);
}

#changeNodeWindow {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

#changeNodeWindow div {
    display: inline;
    margin-right: 10px;
}

.incorrectNumber {
    border: red 1px solid;
    border-radius: 3px;
    box-shadow: red 0 0 7px 2px;
}

#addLinkWindowWrap {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgb(42 79 79 / 66%);
}

#addLinkWindow {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

#addLinkWindow div button,
#addLinkWindow div input {
    margin-left: 10px;
}