circle.node {
    stroke: #2870c2;
    fill: #78afee;
}

.node {
    cursor: pointer;
}

line.link {
    fill: none;
    stroke: #4C8EDA;
    stroke-width: 3px;
    marker-end: url(#arrow);
    cursor: pointer;
}

line.optimized {
    marker-end: url(#arrowOptimized);
    stroke: #ffbb00;
}

line.new {
    marker-end: url(#arrowNew);
    stroke: purple;
}

path.link {
    fill: none;
    stroke: #4C8EDA;
    stroke-width: 3px;
    marker-end: url(#arrow);
    cursor: pointer;
}

path.optimized {
    marker-end: url(#arrowOptimized);
    stroke: #ffbb00;
}

path.new {
    marker-end: url(#arrowNew);
    stroke: purple;
}

.entryExitDiv {
    text-align: center;
    border: 1px #3182bd solid;
    min-width: 20%;
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
    height: calc(100% - 4px);
}

.entryDiv {
    border: 2px #569480 solid;
}

.exitDiv {
    border: 2px #F16667 solid;
}

ul {
    margin: 0 auto;
}

ul.entryExitPoint {
    list-style-type: none;
    padding: 0;
    overflow: auto;
    height: 100%;
}

svg {
    overflow: visible;
    margin-top: 10px;
}

div.modal {
    margin-top: 10px;
    display: none;
    width: fit-content;
    height: fit-content;
}

div.modal div:hover {
    display: block !important;
}

#addNodeWindowWrap {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgb(42 79 79 / 66%);
}

#addNodeWindow {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

#addNodeWindow div {
    display: inline;
    margin-right: 10px;
}

#contextMenu {
    display: none;
    position: fixed;
    padding: 10px;
    border-radius: 10px;
    background-color: #b7e1ff;
}

#changeNodeWindowWrap {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgb(42 79 79 / 66%);
}

#changeNodeWindow {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

#changeNodeWindow div {
    display: inline;
    margin-right: 10px;
}

.incorrectNumber {
    border: red 1px solid;
    border-radius: 3px;
    box-shadow: red 0 0 7px 2px;
}

#addLinkWindowWrap {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: rgb(42 79 79 / 66%);
}

#addLinkWindow {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

#addLinkWindow div button,
#addLinkWindow div input {
    margin-left: 10px;
}

.btn {
    --bs-btn-color: white;
    --bs-btn-bg: #2870c2;
    --bs-btn-border-color: #2870c2;
    --bs-btn-hover-color: #2870c2;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: #2870c2;
    --bs-btn-focus-shadow-rgb: 64, 101, 220;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #183bab;
    --bs-btn-active-border-color: #1738a1;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #2870c2;
    --bs-btn-disabled-border-color: #2870c2;
    border: 2px solid #2870c2;
    border-radius: 3px;
    transition-duration: 0.4s;
    padding-top: 1px;
    padding-bottom: 1px;
    vertical-align: bottom;
}

select {
    vertical-align: baseline;
    height: 29px;
}

body div {
    margin-bottom: 15px;
}

li {
    margin-bottom: 3px;
    margin-top: 3px;
}

#addNodeWindowButton,
#changeNodeWindowButton,
#addLinkWindowButton {
    margin-top: 5px;
}

#buttonPanel {
    position: fixed;
    top: 10px;
    left: 10px;
}

#estimationWrap {
    position: fixed;
    top: 10px;
    right: 10px;
    display: none;
    width: 15%;
    max-height: calc( 100% - 20px);
    overflow: auto;
    /*box-shadow: #2870c2 -8px 0px 4px;*/
    border: 2px #2870c2 solid;
    border-radius: 3px;
    padding: 10px;
}

#estimationCloseButton {
    float: right;
}

#estimationWrap p {
    float: left;
}

#estimationCloseButton {}

#estimationOuterList {
    margin-top: 40px;
}

#estimationWrap div {
    margin: 0;
}

input,
select {
    border-color: #2870c2;
    border-radius: 3px;
    border-width: 3px;
}

.entryExitPoint li {
    margin: 0;
    font-size: 15px;
    line-height: 17px;
}

.optimal {
    stroke: #a262aa !important;
    fill: #db2be8 !important;
}

.plusButton {
    line-height: 20px;
    font-size: 20px;
    padding-bottom: 6px;
    vertical-align: middle;
}

.optimal .entryExitDiv {
    border-color: #db2be8;
}